// @import ''

.hu-flag {
    width: 10px;
    height: 10px;
    background: url("../../../images/icons/hu.svg") no-repeat;
}

.ro-flag {
    width: 10px;
    height: 10px;
    background: url("./src/images/icons/ro.svg");
}