.mockBackground {
  width: 100%;
  height: 200px;
  background-color: bisque;
}

.mockSlider {
}

.carousel__back-button {
  position: absolute;
  left: 35px;
  top: 43%;
  z-index: 1000;
}

.carousel__next-button {
  position: absolute;
  top: 43%;

  right: 35px;
}

.carousel__dot-group {
  position: relative;
  bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel__dot {
  background-color: #f27373 !important;

  padding: 5px 5px;
  border: none;
  border-radius: 100px;
  margin-right: 16px;

  &:disabled {
    background-color: #ff0000 !important;
  }
}

.carousel_navigation_button {
  height: 2em !important;
  width: 2em !important;
  transition: 0.3s;
  &:hover {
    color: #ff0000 !important;
  }
}

.slide {
  height: 600px !important;
  width: fit-content;
  border: 1px solid black;
  padding: 10px 70px;

  .slideContent {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 781px) {
  .carousel__back-button {
    display: none !important;
  }

  .carousel__next-button {
    display: none !important;
  }
}
